# `list` Object Exercises

## Part A – Directly using list literals

1. Create a list `[10, 20, 30, 40, 50]` and print it.

   ---

    **Example:**
   ```python
   print([1, 2, 3])
   ```

In [5]:
mylist=['10','20','30','40','50']
print('mylist')
mylist

mylist

['10', '20', '30', '40', '50']

2. Create a list of fruits `["apple", "banana", "cherry"]` and print the first element.

   ---
   **Hint:** Use indexing.

   For example, `[32.0, 53, "machine"][1]` would pick the object in first index which is `53`. After this, you output the result using `print` function like so:
    ```python
   print([32.0, 53, "machine"][1])  # Output: 53
   ```

In [10]:
fruit_list=["apple", "banana", "cherry"]
print(fruit_list[0])

apple

3. **Combine** the following lists and **print** the result:
   - `[1, 3, 5, 7, 9]`
   - `[2, 4, 6, 8, 10]`
   ---
   **Hint:** Use the `+` operator.

In [11]:
list1=[1, 3, 5, 7, 9]
list2=[2, 4, 6, 8, 10]
combine=list1+list2
combine

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

## Part B – Assign a list to a variable, then manipulate it

5. Assign `colors = ["red", "blue"]` and **append** `"green"` to the list. Print the updated list.

In [16]:
colors=["red", "blue"]
colors.append('green')
colors

['red', 'blue', 'green']

6. Assign `numbers = [1, 2, 3]` and **extend** it with `[4, 5, 6]`. Print the result.

In [20]:
numbers = [1, 2, 3]
numbers.extend([4, 5, 6])
numbers

[1, 2, 3, 4, 5, 6]

7. Create a variable `list1` and assign `[1, 2, 3]`. Create another variable `list2` and assign `[4, 5, 6]`. Combine these two lists and assign the result to `all_list`.

   ---

    **Hint:** Use the `+` operator

In [23]:
list1=[1, 2, 3]
list2=[4,5,6]
all_list=list1+list2
all_list

[1, 2, 3, 4, 5, 6]

## Part C – Call/invoke methods and store/update the result

8. Assign `team1 = ["Alice", "Bob"]` and `team2 = ["Charlie", "David"]`. **Extend** `team1` with `team2` and print it.

In [26]:
team1=["Alice", "Bob"]
team2=["Charlie", "David"]
team2.extend([team1])
team2

['Charlie', 'David', ['Alice', 'Bob']]

9. Assign `letters = ["x", "z", "y"]`. **Change** the first element to `"a"` and **sort** the list. Print the final list.

In [31]:
letter=["x", "z", "y"]
letter[0]='a'
letter.sort()
letter

['a', 'y', 'z']

10. Assign `age = [22, 35, 18, 20, 55, 80]`. **Sort** the list in **descending order**. Use only one method/function to get the result.

    ---

    **Hint:** Use the following help command below and read it to find how to sort the list in descending order.

```python

help(list.sort)

```

In [51]:
age= [22, 35, 18, 20, 55, 80]
age.sort(reverse=True)
age

[80, 55, 35, 22, 20, 18]

11. Bind `["data analyst,data sceintist,"bussiness analyst,"data enginer,"electrical engineer"]` to the variable `job`. **Remove** the last element of the list and print it.

    ---
    **Hint:** Use the `pop()` method. For instructions on how to use the `pop()` method, run the following on a new code cell.

```python
help(list.pop)
```

In [47]:
job=["data analyst","data sceintist","bussiness analyst","data enginer","electrical engineer"]
job.pop()
job

['data analyst', 'data sceintist', 'bussiness analyst', 'data enginer']

12. Assign `animals = ["cow", "dog", "crow", "peacock", "lion"]`. Delete the birds in the list and then print the list that only contains animals with birds removed in the list.

    ---
    **Hint:** Use **del** statement. Link: [<ins>`del` statement </ins>](https://docs.python.org/3/tutorial/datastructures.html#the-del-statement)

In [77]:
animals =["cow","dog","crow","peacock","lion"]
del animals[2:4] 
animals

['cow', 'dog', 'lion']